.model {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
    border: 2px solid #333333;
    text-align: center;
}

input {
    width: 100%;
}

.button {
    margin: 10px auto;
}

h1 {
    margin-left: 20%;
}

.form {
    width: 40%;
    padding-left: 30px;
}

.table {
    width: 50%;
}

.fields {
    margin-top: 15px;
    width: 100%;
}